<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_CAPTCHA</key>
	<string>$(SUPABASE_CAPTCHA)</string>
	<key>SUPABASE_DOMAIN</key>
	<string>$(SUPABASE_DOMAIN)</string>
	<key>SUPABASE_KEY</key>
	<string>$(SUPABASE_KEY)</string>
	<key>SUPABASE_STORAGE_PATH</key>
	<string>$(SUPABASE_STORAGE_PATH)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-SemiBold.otf</string>
	</array>
</dict>
</plist>
