<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao7b5a33c93fdbddae39f5d7a4f98bb0d7</string>
			</array>
		</dict>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_birtherday._tcp</string>
	</array>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>$(KAKAO_NATIVE_APP_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaolink</string>
	</array>
	<key>SUPABASE_CAPTCHA</key>
	<string>$(SUPABASE_CAPTCHA)</string>
	<key>SUPABASE_DOMAIN</key>
	<string>$(SUPABASE_DOMAIN)</string>
	<key>SUPABASE_KEY</key>
	<string>$(SUPABASE_KEY)</string>
	<key>SUPABASE_STORAGE_PATH</key>
	<string>$(SUPABASE_STORAGE_PATH)</string>
	<key>NSNearbyInteractionUsageDescription</key>
	<string>이 앱은 근처의 기기와 상호작용하여 쿠폰 사용 기능을 제공합니다.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>이 앱은 근처 기기와 통신하기 위해 로컬 네트워크 접근 권한이 필요합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-SemiBold.otf</string>
	</array>
</dict>
</plist>
